{% extends 'base.html' %}

{% block title %} {{ block.super }} || Menus Items {{{% endblock title %}

{% block content %}


<h1>{{ object.name }}</h1>
<p>Restaurant name: <b>{{ object.restaurant.name }}</b></p>

{% if object.contents %}
    Contents
    <ul>
        {% for item in object.get_contents %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if object.excludes %}
    Excludes
    <ul>
        {% for item in object.get_excludes %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}